@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Poppins:wght@500&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.navbar {
  display: flex;
  justify-content: space-between; }
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0 !important; }
  .navbar__menu {
    display: flex;
    gap: 1rem; }
    .navbar__menu li a {
      text-decoration: none;
      font-size: .9rem;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      color: white; }
  .navbar__secondary {
    display: flex;
    align-items: center; }
    .navbar__secondary .btn {
      padding: 0 1rem; }
    .navbar__secondary img {
      width: 1.7rem; }

.banner {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/Banner/fondo3.jpg");
  background-repeat: repeat;
  background-size: contain; }
  .banner h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 1rem;
    color: white;
    z-index: 3; }
  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #6e1e08;
    opacity: .9;
    z-index: 2; }

.shop__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0; }

.product-img {
  width: 7rem; }

.product-img a, .product-img img {
  width: inherit; }

.product-access {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  padding: .4rem;
  height: 100%;
  gap: .5rem; }

.product-name > a {
  color: #151515;
  text-decoration: none; }

.header {
  display: flex;
  align-items: center;
  padding: .8rem 1.5rem;
  background-color: #1d1427; }
  .header__main {
    padding: 0 1rem;
    flex-grow: 1; }

.catalogo {
  margin: 3rem;
  padding: 3rem 0; }
  .catalogo__content {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row; }

.filter {
  flex: 0 26%; }
  .filter__title {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 1rem .5rem;
    font-weight: 500; }
  .filter__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%; }
  .filter__search {
    display: flex;
    width: 100%; }
    .filter__search input {
      border: none;
      background-color: #f2f3f2;
      padding: .6rem 1rem;
      outline: none;
      width: inherit; }
    .filter__search button {
      border: none;
      background: #f2f3f2;
      padding: 0 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
  .filter__categories {
    width: 100%; }
  .filter__list {
    display: flex;
    flex-direction: column; }
    .filter__list li {
      list-style: none;
      display: flex;
      justify-content: space-between; }
  .filter__button {
    padding: .5rem; }
    .filter__button button {
      color: white;
      border: none;
      padding: .8rem 1.8rem;
      background-color: #f9aa01;
      font-weight: 700;
      font-size: 14px;
      border-radius: 6px;
      cursor: pointer; }

.products {
  flex: 0 74%;
  padding: 0 2rem 0 0; }
  .products__content {
    display: flex;
    flex-direction: column; }
  .products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 2rem;
    justify-content: space-evenly; }
  .products__nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem; }

.product {
  margin: 1rem;
  border: 1px solid #e1e1e1; }
  .product img {
    width: 100%; }
  .product__title {
    padding-top: 1.5rem;
    color: #151515;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase; }
  .product__price {
    padding: .7rem 1rem;
    font-size: .8rem;
    color: #d69407;
    font-weight: 600; }
  .product__details {
    display: flex;
    justify-content: center; }

.product__title, .product__price {
  text-align: center; }
