@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Poppins:wght@500&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.navbar ul {
  list-style: none; }

.navbar__menu {
  display: flex;
  gap: 1rem; }
  .navbar__menu li a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: white; }

.banner h1 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 1rem; }

.header {
  display: flex;
  align-items: center;
  padding: .8rem 1.5rem;
  background-color: #1d1427; }
  .header__main {
    padding: 0 1rem; }

.catalogo {
  margin: 3rem;
  padding: 3rem 0; }
  .catalogo__content {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row; }

.filter {
  flex: 0 26%; }
  .filter__title {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; }
  .filter__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .filter__list {
    display: flex;
    flex-direction: column; }
    .filter__list li {
      list-style: none; }
  .filter__button {
    padding: .5rem; }
    .filter__button button {
      color: white;
      border: none;
      padding: .8rem 1.8rem;
      background-color: #f9aa01;
      font-weight: 700;
      font-size: 14px;
      border-radius: 6px;
      cursor: pointer; }

.products {
  flex: 0 74%;
  padding: 0 2rem 0 0; }
  .products__content {
    display: flex;
    flex-direction: column; }
  .products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 2rem;
    justify-content: space-evenly; }
  .products__nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1rem; }

.product {
  margin: 1rem;
  border: 1px solid #e1e1e1; }
  .product img {
    width: 100%; }
  .product__title {
    padding-top: 1.5rem;
    color: #151515;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase; }
  .product__price {
    padding: .7rem 1rem;
    font-size: .8rem;
    color: #d69407;
    font-weight: 600; }

.product__title, .product__price {
  text-align: center; }
