
.catalogo{
    margin: 3rem;
    padding: 3rem 0;
    &__content{
        width:100%;
        padding: 0 1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
}

// FILTER
.filter{
    flex:0 26%;
    &__title{
        font-size: 1rem;
        font-family:'Roboto', sans-serif;
        padding: 1rem .5rem;
        font-weight: 500;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    &__search {
        display: flex;
        width: 100%;
        input{
            border:none;
            background-color: #f2f3f2;
            padding: .6rem 1rem;
            outline: none;
            width: inherit;
        }

        button{
            border: none;
            background: #f2f3f2;
            padding: 0 1rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__categories{
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;

        & li{
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
    }

    &__button {
        padding: .5rem;
        & button{
            color: white;
            border: none;
            padding: .8rem 1.8rem;
            background-color: #f9aa01;
            font-weight: 700;
            font-size: 14px;
            border-radius: 6px;
            cursor: pointer;
        }
    }
}

// PRODUCTS
.products{
    flex:0 74%;
    padding: 0 2rem 0 0;
    &__content{
        display: flex;
        flex-direction: column;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(14rem,1fr));
        grid-gap: 2rem;
        justify-content: space-evenly;
    }

    &__nav{
        & ul{
            display: flex;
            list-style: none;
            justify-content: center;
            gap: 1rem;
        }
    }
}

.product{
    margin: 1rem;
    border: 1px solid #e1e1e1;

    & img{
        width: 100%;
    }

    &__title{
        padding-top: 1.5rem;
        color: #151515;
        font-size: .8rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__price{
        padding: .7rem 1rem;
        font-size: .8rem;
        color:#d69407;
        font-weight: 600;
    }
}

.product__title,.product__price{
    text-align: center;
}



